<h1>Editing Cow</h1>
<hr>

<%= render 'form', cow: @cow %>

<div class="alinha">
  <%= link_to 'Show', @cow, :class=>"btn btn-sm btn-dark" %> 
  <%= link_to 'Back', cows_path, :class=>"btn btn-sm btn-dark" %>
</div>
